ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.navbar {
  float: left;
  display: block;
  padding: 10px 10px;
  background-color: aqua;
  border:  solid 1px red;
}
li.navbar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: lightgreen;
  transition: 0.3s;
}
.navbar {
  text-decoration: none;
}
.main-content {
  padding: 10px 3px;
}
